<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css"> -->
<div class="container">
    <div class="row clearfix">
        <div class="col-lg-3 col-md-4 col-sm-12" *ngFor="let chairData of chairGridData">
            <div class="card product_item">
                <div class="body">
                    <div class="cp_img">
                        <img src="{{ chairData.img }}" alt="Product" class="img-fluid">
                        <div class="hover">
                            <a href="javascript:void(0);" class="btn btn-primary btn-sm waves-effect"><i class="zmdi zmdi-plus"></i></a>
                            <a href="javascript:void(0);" class="btn btn-primary btn-sm waves-effect"><i class="zmdi zmdi-shopping-cart"></i></a>
                        </div>
                    </div>
                    <div class="product_details">
                        <h5><a href="ec-product-detail.html">Simple Black</a></h5>
                        <ul class="product_price list-unstyled">
                            <li class="old_price">{{chairData.price}}</li>
                            <li class="new_price">$10.00</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>