

<div class="col">
    <div class="col-md-6 col-sm-12">
        <section id="topSales" class="my-3 text-center">
            <div class="container">
                <div class="row clearfix">
                    <div class="col">
                        <div class="info-header mb-5">
                            <h1>Your Items in cart</h1>
                            <p class="lead pb-3">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus, eveniet.
                            </p>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="row card-body mb-3">
                            <div class="col-md-6  align-self-center text-center">
                                <h3>Chair</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, qui.</p>
                            </div>
                            <div class="col-md-6 align-self-center text-right">
                                <a class="btn btn-outline-danger btn-lg">Payment</a>
                            </div>
                        </div>
                    </div>
                </div>           
            </div>
        </section>
        
    </div>
    <div class="col-md-6 col-sm-12">
        <section id="topSales" class="my-3 text-center">
            <div class="container">
                <div class="row">
                    <div class="card mb-3">
                        <div class="row card-body mb-3">
                            <div class="col-md-6  align-self-center text-center">
                                <h3>Chair</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, qui.</p>
                            </div>
                            <div class="col-md-6 align-self-center text-right">
                                <a class="btn btn-outline-danger btn-lg">Payment</a>
                            </div>
                        </div>
                    </div>
                </div>
               
            </div>
        </section>
    </div>
</div>

<!-- <div class="col">
    <div class="col-md-6">
        
        
    </div>
</div> -->

<!-- --------------- Info section --------------- -->
<section id="topSales" class="my-3 text-center">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="info-header mb-5">
                    <h1>Your Items in cart</h1>
                    <p class="lead pb-3">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus, eveniet.
                    </p>
                </div>
            </div>
        </div>

        <div class="card mb-3">
            <div class="row card-body mb-3">
                <div class="col-md-6  align-self-center text-center">
                    <h3>Chair</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, qui.</p>
                </div>
                <div class="col-md-6 align-self-center text-right">
                    <a class="btn btn-outline-danger btn-lg">Payment</a>
                </div>
            </div>
        </div>

        <div class="card mb-3">
            <div class="row card-body mb-3">
                <div class="col-md-6  align-self-center text-center">
                    <h3>Chair</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, qui.</p>
                </div>
                <div class="col-md-6 align-self-center text-right">
                    <a class="btn btn-outline-danger btn-lg">Payment</a>
                </div>
            </div>
        </div>
       
    </div>
</section>


<div class="container">
    <div class="row">
        <div class="my-3 text-center">
            <div class="info-header mb-5">
                <h1>Your Items in cart</h1>
                <p class="lead pb-3">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus, eveniet.
                </p>
            </div>
        </div>
        <div class="col col-lg-8">
            <div class="card mb-5">
                <div class="row card-body mb-3">
                    <div class="col-md-6  align-self-center text-center">
                        <h3>Chair11</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, qui.</p>
                    </div>
                    <div class="col-md-6 align-self-center text-right">
                        <a class="btn btn-outline-danger btn-lg">Payment</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-lg-4">
            <div class="card mb-5">
                <div class="col-md-6  align-self-center text-center">
                    <h3>Chair11</h3>
                    <p>Lorem ipsum dolor sit amet</p>
                    <p>Lorem ipsum dolor</p>
                </div>
            </div>
        </div>

        <div class="col col-lg-8">
            <div class="card mb-5">
                <div class="row card-body mb-3">
                    <div class="col-md-6  align-self-center text-center">
                        <h3>Chair11</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, qui.</p>
                    </div>
                    <div class="col-md-6 align-self-center text-right">
                        <a class="btn btn-outline-danger btn-lg">Payment</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-lg-4">
            <div class="card mb-5">
                <div class="col-md-6  align-self-center text-center">
                    <h3>Chair11</h3>
                    <p>Lorem ipsum dolor sit amet</p>
                    <p>Lorem ipsum dolor</p>
                </div>
            </div>
        </div>
    </div>
</div>