<!-- <p class="text-danger">home works!</p> -->
<section id="showcase">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1" ></li>
            <li data-target="#myCarousel" data-slide-to="2" ></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item carousel-image-1 active">
                <div class="container">
                    <div class="carousel-caption d-none d-sm-block text-right mb-5">
                        <h1 class="display-3">Head 1</h1>
                        <p class="lead"> Welcome To The Jungle..!!!!</p>
                        <a href="#" class="btn btn-danger btn-lg">Sign Up</a>
                    </div>
                </div>
            </div>

            <div class="carousel-item carousel-image-2">
                <div class="container">
                    <div class="carousel-caption d-none d-sm-block mb-5">
                        <h1 class="display-3">Head 2</h1>
                        <p class="lead"> Welcome To The Jungle..!!!!</p>
                        <a href="#" class="btn btn-primary btn-lg">Sign Up</a>
                    </div>
                </div>
            </div>

            <div class="carousel-item carousel-image-3">
                <div class="container">
                    <div class="carousel-caption d-none d-sm-block text-right mb-5">
                        <h1 class="display-3">Head 3</h1>
                        <p class="lead"> Welcome To The Jungle..!!!!</p>
                        <a href="#" class="btn btn-success btn-lg">Sign Up</a>
                    </div>
                </div>
            </div>
        </div>
        <a href="#myCarousel" data-slide="prev" class="carousel-control-prev">
            <span class="carousel-control-prev-icon"></span>
        </a>

        <a href="#myCarousel" data-slide="next" class="carousel-control-next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
</section>
<!-- --------------- Home Icon ------------------ -->

<section id="home-icons" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-4 text-center">
                <i class="fa fa-cog mb-2"></i>
                <h3>Item</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus, accusantium?</p>
            </div>
            <div class="col-md-4 mb-4 text-center">
                <i class="fa fa-cloud mb-2"></i>
                <h3>Shop</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus, accusantium?</p>
            </div>
            <div class="col-md-4 mb-4 text-center">
                <i class="fa fa-cart-plus mb-2"></i>
                <h3>Cart</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus, accusantium?</p>
            </div>
        </div>
    </div>
</section>

<!-- --------------- Home Heading --------------- -->

<section id="home-heading" class="p-5">
    <div class="dark-overlay">
        <div class="row">
            <div class="col">
                <div class="container pt-5">
                    <h1>This is Home 1</h1>
                    <p class="d-none d-sm-block">Welcome to the jungle...!!!</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- --------------- Info section --------------- -->
<section id="topSales" class="my-3 text-center">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="info-header mb-5">
                    <h1>Top Items</h1>
                    <p class="lead pb-3">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus, eveniet.
                    </p>
                </div>
            </div>
        </div>

        <div class="card mb-3">
            <div class="row card-body mb-3">
                <div class="col-md-6  align-self-center text-center">
                    <h3>Gum Boot</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, qui.</p>
                    <a (click)="navigateToItems('chair')" class="btn btn-outline-danger btn-lg">Shop</a>
                </div>
                <div class="col-md-6 chairImage">
                    <img src="assets/carousel-img/1.jpg" 
                    class="img-fluid" alt="">
                </div>
            </div>
        </div>
        

        <div class="card mb-3">
            <div class="row card-body">
                <div class="col-md-6">
                    <img src="assets/carousel-img/3-2.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-md-6 align-self-center text-center">
                    <h3>Helmet</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, qui.</p>
                    <a (click)="navigateToItems('bed')"  class="btn btn-outline-danger btn-lg">Shop</a>
                </div>
            </div>
        </div>

        <div class="card mb-3">
            <div class="row card-body mb-3">
                <div class="col-md-6  align-self-center text-center">
                    <h3>Welding Gloves</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, qui.</p>
                    <a (click)="navigateToItems('dinning')"  class="btn btn-outline-danger btn-lg">Shop</a>
                </div>
                <div class="col-md-6 chairImage">
                    <img src="assets/carousel-img/3.jpg" 
                    class="img-fluid" alt="">
                </div>
            </div>
        </div>
        

        <div class="card mb-3">
            <div class="row card-body">
                <div class="col-md-6">
                    <img src="assets/carousel-img/l2.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-md-6 align-self-center text-center">
                    <h3>Level Ruler</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, qui.</p>
                    <a href="#" class="btn btn-outline-danger btn-lg">Shop</a>
                </div>
            </div>
        </div>
       
    </div>
</section>

<!-- --------------- Photo Gallery --------------- -->

<!-- <section id="gallery">
    <div class="m-3">
        <h1 class="text-center">Top Search</h1>
            <p class="text-center">Checkout Latest Designs</p>
                <div class="row mb-4">
                    <div class="col-md-3 card mx-1" style="width: 10rem;" *ngFor = "let imageGal of imgGallery">
                        <a routerLink = '{{imageGal.routerPath}}'
                        data-toggle="lightbox" data-gallery="img-gallery">

                        <img src= '{{imageGal.imgUrl}}' class="img-fluid card-img-top">
                        </a>
                        <div class="card-body">
                            <h4 class="card-title">bed</h4>
                            <p class="card-text">Price: 5000 /-</p>
                            <a href="#" class="btn btn-success btn-block">Add to cart</a>
                        </div>
                    </div>
                </div>

                <div class="row mb-4">
                    <div class="col-md-4">
                        <a 
                        data-toggle="lightbox" data-gallery="img-gallery">

                        <img src="assets/product/bed/unnamed.png" class="img-fluid">
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a 
                        data-toggle="lightbox" data-gallery="img-gallery">

                        <img src="assets/product/bed/unnamed.png" class="img-fluid">
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a 
                        data-toggle="lightbox" data-gallery="img-gallery">

                        <img src="assets/product/bed/unnamed.png" class="img-fluid">
                        </a>
                    </div>
                </div>
    </div>
</section> -->

<!-- --------------- Top sales section --------------- -->

<section id="topSales" class="my-5 text-center">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="info-header mb-5">
                    <h1>Top Sales</h1>
                    <p class="lead pb-3">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus, eveniet.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-3" *ngFor="let topSales of imgSalesGallery">
                <div class="card">
                    <div class="card-body">
                        <img src='{{topSales.imgUrl}}' alt="" class="img-fluid mb-5">
                        <h3>{{topSales.productName}}</h3>
                        <p class="mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <div>
                            <a href="#" class="btn btn-success btn-block">Add to cart</a>
                        </div>
                        <!-- <div class="d-flex flex-row justify-content-left">
                            <div>
                                <a href="#"><i class="fa fa-facebook"></i>facebook</a>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- <section>
    <div class="card">
        <div class="top-content">
            <div class="travel-image">
                <img src="assets/carousel-img/l2.jpg" alt="">
            </div>
            <div class="top-bar">
                <img class="top-icons" src="assets/carousel-img/l2.jpg" alt="">
                <img class="top-icons" src="assets/carousel-img/l2.jpg" alt="">
            </div>
        </div>
        <div class="mid-content">
            <div class="short-detail">
                <h3>Level Ruler</h3>
                <span>
                    <img src="assets/carousel-img/l2.jpg" alt="">4.5
                </span>&nbsp;&nbsp;
                <span>
                    <img src="assets/carousel-img/l2.jpg" alt="">17 C
                </span>&nbsp;&nbsp;
                <span>
                    <img src="assets/carousel-img/l2.jpg" alt="">17hrs
                </span>
            </div>
        </div>
        <div class="desc-content">
            <div class="desc-nav">
                <span>Description</span>
                <span>Reviews</span>
                <span>About</span>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Laborum explicabo eius quidem optio beatae, amet dignissimos
                <a>Know More</a>
            </p>
        </div>
        <div class="bottom-content">
            <div class="desc-nav">
                <p>500/- <span>Person</span></p>
            </div>
            <button>Add To Cart</button>
        </div>
    </div>
</section> -->

<!-- --------------- Footer --------------- -->

<footer id="main-footer" class="text-center  p4">
    <div class="container">
        <div class="row">
            <div class="col">
                <p>Copy right reserved &copy; Shivam</p>
            </div>
        </div>
    </div>
</footer>