.nav-item.active{
    border-left: #444 3px solid;
}
body {
    overflow-x: hidden;
}
.carousel-item{
    height: 450px;
}

.carousel-image-1 {
    background:url('src/assets/carousel-img/BGWN5712.JPG');
    background-size: cover;
}
.carousel-image-2 {
    background:url('src/assets/carousel-img/BVFQ1343.JPG');
    background-size: cover;
}
.carousel-image-3 {
    background:url('src/assets/carousel-img/EDBR0920.JPG');
    background-size: cover;
}

.carousel-image-3 {
    background:url('src/assets/carousel-img/1.jpg');
    background-size: cover;
}

.fa {
    font-size: 55px;
}

#home-heading {
    position: relative;
    min-height: 200px;
    background:url('src/assets/home-header/HABS1692.JPG');
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    text-align: center;
    color: #fff;
}

.dark-overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

footer#main-footer {
    background: #000;
    color: #fff;
}

/* .chairImage {
    background:url('src/assets/product/chair/pngtree-yellow-chair-cartoon-chair-hand-painted-chair-chair-decoration-png-image_397905.jpg');
    background-size: cover;
} */

/* *{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
 body{
     overflow: hidden;
     background: #edf2f6;
 }
 section{
     display: flex;
     justify-content: center;
     align-items: center;
     width: 100%;
     height: 100%;
 }
 .card {
     width: 260px;
     height: 500px;
     background: #FEFEFE;
     border-radius: 10px;
     overflow: hidden;
     position: relative;
     box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
 }

 .top-content {
     position: relative;
     width: 100px;
     height: 260px;
     display: flex;
     justify-content: space-between;
 }

 .top-content .travel-image .img {
     width: 100%;
     height: 100%;
     border-radius: 0% 0% 8% 8%;
 }

 .top-bar {
     position: absolute;
     padding: 20px 16px;
     display: flex;
     justify-content: space-between;
     width: 88%;
 }
 .top-icons {
     width: 12px;
     height: 12px;
     cursor: pointer;
     padding: 10px;
     background-color: #fff;
     border-radius: 50%;
 }
 .mid-content .short-detail {
     background-color: #fff ;
     padding: 10px 40px 10px 20px;
     font-family: 'Nunito', sans-serif;
     position: absolute;
     top: 45%;
     box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
     border-radius: 10px;
 } */