<section id="home-heading" class="p-5">
    <div class="dark-overlay">
        <div class="row">
            <div class="col">
                <!-- <div class="container pt-5">
                    <h1>This is User page</h1>
                    <p class="d-none d-sm-block">Welcome to the jungle...!!!</p>
                </div> -->
            </div>
        </div>
    </div>
</section>

<!-- <div class="container"> -->
    <header id="main-header">
        <div class="row no-gutters">
            <div class="col-lg-3 col-md-4">
                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">
            </div>

            <div class="col-lg-9 col-md-8">
                <div class="d-flex flex-column">
                    <div class="p-5 bg-dark text-white">
                        <div class="d-flex flex-row 
                        justify-contain-between align-item-center">
                        <h1 class="display-4">Vaam One</h1>
                        <div><i class="fa fa-twitter"></i></div>
                        <div><i class="fa fa-twitter"></i></div>
                        <div><i class="fa fa-twitter"></i></div>
                        <div><i class="fa fa-twitter"></i></div>
                    </div>
                    </div>

                    <div class="p-4 bg-black">
                        Best furniture in the market
                    </div>

                    <div>
                        <div class="d-flex flex-row text-white align-items-stretch text-center">
                            <div class="port-item p-4 bg-primary" data-toggle="collapse" data-target="#myOrder">
                                <i class="fa fa-home d-block"></i> My Orders
                            </div>

                            <div class="port-item p-4 bg-success">
                                <i class="fa fa-home d-block"></i> Order status
                            </div>

                            <div class="port-item p-4 bg-warning">
                                <i class="fa fa-home d-block"></i> My Coupon
                            </div>

                            <div class="port-item p-4 bg-danger">
                                <i class="fa fa-home d-block"></i> My Address
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
<!-- </div> -->

<!-- Home -->

<div id="myOrder" class="collapse show">
    <div class="card card-body bg-primary text-white py-5">
        <h2>Welcome to my orders11</h2>
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, dolorem.</p>
    </div>

    <div class="card card-body py-5">
        <h3>Order Id: 1001</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, quibusdam! Qui, fuga.</p>
    </div>
    <div class="card card-body py-5">
        <h3>Order Id: 1002</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, quibusdam! Qui, fuga.</p>
    </div>
    <div class="card card-body py-5">
        <h3>Order Id: 1003</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, quibusdam! Qui, fuga.</p>
    </div>
    <div class="card card-body py-5">
        <h3>Order Id: 1004</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, quibusdam! Qui, fuga.</p>
    </div>
</div>